.custom-link {
    text-decoration: none;
    color: #3F52E3;
}
.text-right {
    text-align: right;
}

.form-login {
    width: 24rem;
    padding: 2rem;
    border: 2px solid #bbb9b9;
}

.btn-login {
    width: 100%;
}

.error-text {
    color: red;
    margin-bottom: 0.5rex;
    margin-left: 2rex;
    font-size: 15px;
}